* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: rgb(97, 95, 95); */
  /* color: rgba(0, 0, 0, 0.788); */
}
body {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  /* font-size: 81.25%; */
}
/* header elements */
.user {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(17, 17, 17);

  color: white;
  padding: 8px;
  font-size: 0.9em;
}
header {
  background-color: black;
}
nav {
  padding: 30px 15px;
}
.logo {
  width: 150px;
}
.headerimage {
  width: 100%;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
  padding: 10px 0;
  height: 350px;
  align-items: center;
}
.images img {
  width: 40%;
  height: 150px;
}

/* body */

.frame {
  width: 90%;
  display: block;
  margin: 10px auto;
}
.prices img {
  width: 95%;
  display: block;
  margin: 10px auto;
}
.vector18 {
  color: white;
  text-align: center;
  background-color: black;
  padding: 10px 0;
}
.section {
  background-color: black;
  padding: 30px;
}
.section img {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

.courses {
  background-color: black;
  width: 100%;
  padding: 20px 0 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.courses img {
  width: 100%;
  height: 250px;
}
.course {
  color: purple;
  font-weight: bold;
}
.course-count {
  color: rgb(8, 47, 63);
}

/* recent courses */
.buttons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons button {
  padding: 15px;
  min-width: 33%;
  border: none;
  background-color: rgb(17, 17, 17);
  color: rgb(26, 177, 177);
}
.buttons .focus {
  background: #fff;
  border-radius: 20px;
  color: grey;
  width: 100px;
}
.availableCourses {
  padding: 10px;
}
.availableCourses img {
  width: 100%;
}

/* footer */
footer {
  color: white;
  background-color: black;
  padding: 50px 10px;
}
footer h3 {
  padding: 10px 0;
}
footer li {
  margin: 0 25px;
}
footer > div {
  margin-bottom: 40px;
}
.flex img {
  width: 20%;
}
.flex {
  display: flex;
}
@media only screen and (max-width: 600px) {
}

/*  small devices  */
@media only screen and (min-width: 600px) {
}

/*  medium devices  */
@media only screen and (min-width: 768px) {
  .images {
    display: flex;
    justify-content: space-evenly;
  }
  .images img {
    width: 20%;
  }
  .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .box .box2 {
    height: 250px;
  }
  .box .art {
    width: 70%;
    height: 600px;
  }
  .box .art img {
    width: 100%;
    height: 562px;
  }
  .box .box2 {
    width: 30%;
    height: 600px;
  }
  .box .box2 img {
    width: 100%;
  }
  .box3 {
    display: flex;
    justify-content: space-evenly;
  }
  .buttons button {
    min-width: 10%;
  }
  .availableCourses {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .availableCourses > div {
    width: 32%;
  }
  .prices {
    display: flex;
    justify-content: space-between;
  }
  .prices img {
    width: 32%;
  }
  .instructor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  .instructor-content img,
  .instructor-content > div {
    width: 43%;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer > div {
    width: 24%;
  }
}

/*  large devices  */
@media only screen and (min-width: 992px) {
}

/*  extra large devices  */
@media only screen and (min-width: 1200px) {
}
